<footer id="footer">
	<div class="container">
		<div class="row myfooter">
			<div class="col-sm-6">
        <div class="pull-left">
    			Feito com <i class="fa fa-heart"></i> por <a target="_blank" href="#"> Mb </a>2017. Todos os direitos reservados.
			  </div>
      </div>

		</div>
	</div>
</footer>
