<!-- Page Content -->
<br>
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="text-center">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/peil17PCGAk"></iframe>
              </div>
            </div>
          </div>
					<h2>Sobre nós</h2>
					<%= image_tag("images/short.png",alt: "Company about", class:"img-responsive displayed") %>

					<div class="row">
						<div class="col-md-12">
              <p>Somos uma turma de alunos, estudantes do curso de Ciências da Computação, que sob a orientação do Professor Edvan Chaves, iniciou um projeto de desenvolvimento de um software de controle de prevenção da falta de água em regiões do semi-árido nordestino.</p>
              <p>Nosso intuito é fornecer um mecanismo automatizado para sinalizar os níveis de abastecimentos para comunidades onde exista instalado as cisternas fornecidas pelo governo, a fim de evitar a falta de água para as comunidades carentes do sertão.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= content_for :javascripts do %>

<% end %>
