
  <div class="button-inline">
        <%= button_to  edit_resource_url(resource.id), method: :get, class: "btn btn-xs btn-custom-rails" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        <%= button_to resource_url(:id => resource.id), method: :delete, class: "btn btn-xs btn-custom-rails" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
  </div>
