<%= render "table", :collection => collection  %>

<div class="col-sm-3 col-xs-6 height-contact-element ">
  <div class="form-group">
    <%= button_to "NOVA", new_resource_path,
      :class => "btn btn-md btn-custom btn-noborder-radius", :method => :get %>
  </div>
</div>
